html,
body {
  margin: 0;
  padding: 10px;
  background-color: rgb(84, 88, 90);
}

.image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-image {
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-size: 100% 100%;
  transition: transform 0.1s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.image-dragging {
  cursor: move;
}

.image-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 225px;
}
