@font-face {
  font-family: "Lulo";
  src: url("../assets/Lulo.ttf");
}

body {
  margin: 0px;
}

h1 {
  font-size: 16px;
  text-align: center;
  font-family: "Lulo";
  color: gray;
}

h2 {
  font-size: 35px;
  margin-top: 0px;
  text-align: center;
  font-family: "Lulo";
  color: gray;
}

h3 {
  font-size: 10px;
  margin: 0px;
  padding-top: 12px;
  text-align: center;
  font-family: "Lulo";
  color: white;
}

p {
  color: lightgray;
  font-size: 14px;
}

a {
  color: gray;
  font-weight: 600;
}

table {
  padding: 16px;
}

th {
  color: #c0c0c0;
  font-size: 14px;
}

.icon {
  width: 12px;
  height: 12px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-row {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

table {
  width: 100%;
}

.headerLeft {
  position: absolute;
  height: 22px;
  margin-left: 50px;
  margin-top: 8px;
  cursor: pointer;
}
.headerRight {
  position: absolute;
  height: 22px;
  margin-left: 16px;
  margin-top: 8px;
  cursor: pointer;
}

#settings:hover {
  opacity: 0.5;
}

#pause:hover {
  opacity: 0.5;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: 0.5;
}
